body {
  margin: 0;
}
.App {
  font-family: "Helvetivca", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
/* responsive css */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 22px !important;
  }
  .App {
    font-size: 12px;
  }
  .hero {
    margin-bottom: 130px;
  }
  .hero__slide {
    left: 0 !important;
    max-width: 65vw !important;
    border: 2px solid #ebebeb;
    right: 0;
    margin: 0 auto;
    bottom: -130px;
    padding: 30px !important;
  }
  .hero__slide button {
    width: 100%;
    padding: 20px !important;
  }
  .hero__slide p {
    min-height: 80px;
  }
  .cards__wrapper {
    flex-wrap: wrap;
  }
  .cards__single {
    width: 100%;
    flex: unset !important;
    margin: 10px 20px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards__wrapper {
    flex-wrap: wrap;
  }
  .cards__single {
    width: calc(50% - 40px);
    flex: unset !important;
    margin: 10px 20px !important;
  }
}
